<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavStatus">
    <app-sidenav [isAuthenticated]="isAuthenticated"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar #toolbar>
      <app-header [isAuthenticated]="isAuthenticated" [(sidenavStatus)]="sidenavStatus" style="inline-size: inherit"></app-header>
    </mat-toolbar>
    <div id="main-content" class="ui text container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
